body {
    background: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #222222;
    padding: 30px; 
    padding-left: 50px;
    color: #e0e0e0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.2em; 
}

main {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

main input,
main label,
main button {
    margin-right: 15px;
    margin-bottom: 15px;
}

#searchInput {
    margin-bottom: 0px;
}

button {
    background-color: #222222;
    color: #f0f0f0; 
    border: 2px solid #444444;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover {
    background-color: #f0f0f0; 
    color: #222222; 
    border-color: #cccccc;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 1.27em;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.nav-item a:visited {
    color: white; 
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-item:hover {
    background-color: rgba(255, 255, 250, 0.5);
}   

.chart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.chart-box {
    width: 45%; /* Ustawia szerokość wykresu na 45% szerokości rodzica */
    min-width: 300px; /* Minimalna szerokość wykresu */
}

.chart-box-full {
    width: 90%; /* Ustawia szerokość wykresu na 90% szerokości rodzica */
    margin: 0 auto; /* Wyśrodkowanie wykresu */
}

.chart-box-full-50 {
    width: 50%; 
    margin: 0 auto; 
}

input {
    padding: 15px; 
    font-size: 18px;
    width: 100%; 
    max-width: 340px; 
    border-radius: 15px; 
    border: 1px solid #555555;
}

.dataset-list {
    display: none;
    list-style-type: none;
    border-radius: 15px; 
    width: 100%; 
    max-width: 340px; 
    padding: 0;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.dataset-list li {
    padding: 8px;
    cursor: pointer;
}

.dataset-list li:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .nav-item {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-item a {
        font-size: 1.1em; /* Mniejszy rozmiar tekstu na mniejszych ekranach */
    }

    main {
        margin: 20px;
    }

    .chart-box, .chart-box-full, .chart-box-full-50 {
        width: 100%; /* Pełna szerokość kontenera */
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px; /* Mniejsze paddingi na bardzo małych ekranach */
    }

    h1 {
        font-size: 1.5em; /* Mniejszy nagłówek */
    }
}
